.DS_Store

broker-service/.idea/

broker-service/broker-service

broker-service/m

broker-service/*.exe


# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

broker-mobile-ionic/*~
broker-mobile-ionic/*.sw[mnpcod]
broker-mobile-ionic/.tmp
broker-mobile-ionic/*.tmp
broker-mobile-ionic/*.tmp.*
broker-mobile-ionic/*.sublime-project
broker-mobile-ionic/*.sublime-workspace
broker-mobile-ionic/.DS_Store
broker-mobile-ionic/Thumbs.db
broker-mobile-ionic/UserInterfaceState.xcuserstate
broker-mobile-ionic/$RECYCLE.BIN/

broker-mobile-ionic/*.log
broker-mobile-ionic/log.txt
broker-mobile-ionic/npm-debug.log*

broker-mobile-ionic/.idea
broker-mobile-ionic/.ionic
broker-mobile-ionic/.sass-cache
broker-mobile-ionic/.sourcemaps
broker-mobile-ionic/.versions
broker-mobile-ionic/.vscode
broker-mobile-ionic/coverage
broker-mobile-ionic/dist
broker-mobile-ionic/node_modules
broker-mobile-ionic/platforms
broker-mobile-ionic/plugins
broker-mobile-ionic/www
